@import "tailwindcss";

/*  Root Theme */
:root {
  --background: #ffffff;

  --primary: #65a30d;
  --primary-dark: #4d7c0f;

  --sidebar-bg: #ffffff;
  --sidebar-active: #d9f99d;
}

html {
  color-scheme: light;
}

body {
  background-color: var(--background);
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional */
.text-default {
  color: #171717;
}
